console.log("hi");
$('.info').hide();

$('#new_income').after(
  '<div class="info">\
    <h1>Yearly Income: <%= @income.yearly %></h1>\
    <h1>Daily Income: <%= @income.daily %></h1>\
    <h1>Pay per hour: <%= @income.pay_per_hour %><h1>\
  <%= form_for @expense, remote: true do |f| %>\
  <%= f.label "Please enter your daily expenses: " %><br>\
  <%= f.text_field :daily, placeholder: "Enter your expenses here" %><br>\
  <input id="tags_list" name="income[monthly]" type="hidden" value=<%=@income.monthly%> /><br>\
  <%= f.submit "Show net income" %>\
<% end %></div>');