console.log("expenses");
$('.info').hide();

$('#new_income').after(
  '<div class="info">\
    <% if @income.yearly.present?  %>\
      <h1>Yearly Income: <%= @income.yearly %></h1>\
      <h1>Daily Income: <%= @income.daily %></h1>\
      <h1>Pay per hour: <%= @income.pay_per_hour %><h1>\
    <% end %>\
  <%= form_for @expense, remote: true do |f| %>\
  <%= f.label "Please enter your daily expenses: " %><br>\
  <%= f.text_field :daily, placeholder: "Enter your expenses here" %><br>\
  <input id="tags_list" name="income[:monthly]" type="hidden" /><br>\
  <%= f.submit "Show net income" %>\
  <% end %>\
  <h1>Daily expense: <%= @expense.daily %></h1>\
  <h1>Monthly expense: <%= @expense.monthly %></h1>\
  <h1>Net: <%= @net %></h1>\
  </div>');